//page for clients profile and business photos
<h1>Welcome The Loft Exchange</h1>

<%= link_to ('Home'), users_path  %>
<center><%= image_tag "https://trademarks.justia.com/media/image.php?serial=77380173" %></center>
<center><%= image_tag "http://www.toplacondos.com/condo/admin/image1.php?id=12514" %></center>
<center><%= image_tag "http://pauljohnston.com/wp-content/files_mf/006_436_wellington_w_603.jpg" %></center>
<center><%= image_tag "http://laarttours.com/wp-content/uploads/2014/07/aIMG_0118sm-1024x816.jpg" %></center>
<center><%= image_tag "http://www.lataco.com/wp-content/uploads/faith47_birdman.jpg" %></center>

