//page for artists profile and portfolio
<h1> Welcome Artists </h1>

<%= link_to ('Home'), users_path  %>


<h2> Cryptik </h2>
<center><%= image_tag "http://static1.1.sqspcdn.com/static/f/687444/23067818/1373299017867/street-artist-CRYPTIK-002.jpg?token=lPXtaOQ%2Bg2K1ZpLXVO2XakdNflo%3D" %></center>
<center><%= image_tag "http://static1.squarespace.com/static/50334d5fe4b00d577d19b9a2/50a73e8ce4b02b289430e0a8/50a73ef1e4b050340ad2b9ad/1353137905715/Buddha2.jpg" %></center>

<h2> Mear1 </h2>
<center><%= image_tag "https://c2.staticflickr.com/6/5202/5727786233_0a7419edec.jpg" %></center>
<center><%= image_tag "https://newcentrist.files.wordpress.com/2012/11/mear1.jpeg?w=652" %></center>

<h2> ABCNT </h2>
<center><%= image_tag "http://static1.1.sqspcdn.com/static/f/451085/13987935/1315148992717/ABCNT+Revilution.jpg?token=d%2F%2Bsb6UpW%2F2tb4hPCh7jYhy6C0U%3D" %></center>
<center><%= image_tag "http://www.an-mag.com/wp-content/uploads/2012/04/abcnt3.jpg" %></center>
<center><%= image_tag "http://www.isupportstreetart.com/wp-content/uploads/Stuff/street_art/ABCNT/abcnt-issa_2.jpg" %></center>

